<div class="container">
    <div class="row">
        <div class="col-12">

        <div class="mt-5 pl-5 bg-secondary">
        <h5>商品一覧</h5>
        </div>

        <body>
        <table class="mt-3 w-50 text-left table table-striped">
            <tr>
                <th class="pl-5">商品ID</th>
                <th class="col-5">商品名</th>
                <th>税抜価格</th>
            </tr>
        </table>

        <% @items.each do |item| %>
        <table class="mt-2 mb-2 w-50 text-left border-top">
            <tr>
                <td class="pl-5 pt-2 pb-2 co1-3"><%= item.id %></td>
                <td class="col-5 text-center"><%= link_to item.name, admin_items_path(params[:id]) %></td>
                <td class="text-center col-6"><%= item.price %></td>
            </tr>
        </table>
        <% end %>
        </body>

        <footer class="pl-5 border-top pt-3 w-50">
        <%= paginate @items %>
        </footer>
  </div>
</div>
</div>
