<div class="container">
  <div class="row">
    <div class="col-3 alert-secondary text-center">
    <h5>注文履歴詳細</h5>
    </div>
  </div>

  <div class="row">
    <table class="mt-5 w-100 col-8">
    <thead>
    <tr>
      <td class="py-2">購入者</td>
      <td></td>
    </tr>
    <tr>
      <td class="py-2">注文日</td>
      <td></td>
    </tr>
    <tr>
      <td class="py-2">配送先</td>
      <td></td>
    </tr>
    <tr>
      <td class="py-2">支払方法</td>
      <td></td>
    </tr>
    <tr>
       <td class="colspan-2"></td>
    </tr>
    </thead>